<%= render 'shared/guest_nav' %>

<h1>about_us</h1>
<p>Adipisicing non cupidatat ullamco aliqua culpa eiusmod esse veniam consequat amet laborum. Proident anim esse veniam excepteur excepteur. Lorem esse labore aliqua voluptate qui ipsum commodo ad minim Lorem nulla anim sunt. Consequat esse aute ut commodo Lorem eiusmod in laboris. Officia deserunt esse et nostrud elit.</p>
